<div class="container-fluid m-4">
  <h2>Users</h2>
  <p>
    Display Users with route and API
  </p>
  <div class="container m-5">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.id }}</td>
          <td>
            <a routerLink="albums/{{ user.id }}">{{ user.name }}</a>
          </td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
