<div class="container-fluid">
  <h2>Users Table</h2>
  <p>
    Users Table with route and API
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <a routerLink="/albums" class="btn btn-primary m-1">Albums</a>
    <a routerLink="/" class="btn btn-secondary m-1">Back</a>
  </p>
</div>
