<div class="container-fluid m-4">
  <h2>Photo {{ albumId }}</h2>
  <p>
    Photo with route and API
  </p>
  <div class="container">
    <div
      class="card m-1"
      *ngFor="
        let photo of photos
          | async
          | paginate: { itemsPerPage: 5, currentPage: p }
      "
      style="width: 21rem; display: inline-block;"
    >
      <div class="card-group">
        <div class="img-card">
          <img src="{{ photo.url }}" class="card-img-top" alt="photos_api" />
        </div>
        <div class="card-body" style="min-height: 13rem;">
          <h5 class="card-text">Photo : {{ photo.id }}</h5>
          <p>{{ photo.title }}</p>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div>
        <button routerLink="/" class="btn btn-light mb-3">Go back</button>
      </div>
      <div id="pagination" class="m-2">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
